---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

import { fade } from 'astro:transitions';

export async function getStaticPaths() {
  const notes = await getCollection('notes');
  return notes.map(note => ({
    params: { slug: note.slug },
    props: { note },
  }));
}


const { note } = Astro.props;
const { Content } = await note.render();
---

<Layout title={note.data.title}>
  <article transition:animate={fade({ duration: '0.3s' })}>
    <div class="prose prose-lg mx-auto mt-10 px-4 max-w-3xl">
      <h1>{note.data.title}</h1>
      {note.data.description && <p class="description">{note.data.description}</p>}
      <Content />
    </div>
  </article>
  
  
</Layout>

<style>
  .description {
    font-style: italic;
    color: #666;
    margin-bottom: 1rem;
  }
</style>

<style is:global>
  /* Animated link styles */
  .prose a {
    @apply text-orange-500 no-underline relative;
    transition: color 0.3s ease;
  }

  .prose a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: theme('colors.orange.500');
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }

  .prose a:hover {
    @apply text-orange-500;
  }

  .prose a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .prose a:active {
    @apply text-purple-500;
  }

  .prose a:active::after {
    @apply bg-purple-500;
  }
</style>

