---
import NoteFooter from '../components/NoteFooter.astro';
import Layout from '../layouts/Layout.astro';

---
 

<Layout title="Ukulele Improvisation">
	<main>
		 
  <div class="prose prose-lg mx-auto mt-10 px-4 max-w-3xl">
    <h1>You landed into Unwritten Territory</h1>
    
Pages everywhere

This note hasn't been written yet but the intention is there! This path might open up very soon, Get notified about the new notes by following on [Patreon](/patreon) 


[Go back home](/)
  </div>
	</main>
  <NoteFooter />
</Layout>

