---
---
<div id="linkpreview" role="tooltip"></div>

<style>
  #linkpreview {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    max-height: 400px;
    overflow: auto;
    z-index: 1000;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
</style>

<script>
  import "./Preview.ts";
</script>